<div class="container-fluid">

 <div class="row jumbotron banner">

     <img src="../../assets/LOGO-CR-FISTNESS-w_websitBanner.png" class="img-fluid" alt="Responsive image">

 </div>
 <div class="row jumbotron item2">
    <div class="col">
         <div class="blockquote text-center">
              <p class="mb-0">Some may call it a tagline, but for us, it’s a way of life. It’s our Monday-thru-every-day mantra. An unfiltered philosophy that drives us to create a community and a gym for all.

No judgments means room for everyone, regardless of shape, size, age, race, gender or fitness level. No matter your workout of choice, we want you to feel good while reaching your goals. Join the fun.</p>
         </div>
     </div>
 </div>
 <div class="row jumbotron item1">


    <div class="col-md-6">
        <div class="card mx-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">
                <i class="fas fa-scroll"></i><br>
                <p>Our Manifesto</p>
            </h5>
            <p class="card-text">
                There are no judgments here – No too much or not enough. No glares of disapproval. Here we keep open minds. We are nurturers. We seek only to encourage, empower and entertain. There is no one type. There is no one reason. There is no one way.

                What we are is a diverse community; what we have is a culture of fun; what there is, is room for everyone: all kinds of people with all kinds of goals who’ve chosen to come reach them with us.

                <b>Crunch. No Judgments.</b></p>
          </div>
        </div>
    </div>

    <div class="col-md-6">
        <img src="https://dj7w0h47bhjwk.cloudfront.net/assets/about/about--our-manifesto-fa8304232e2c5a9e30a9ceb63a1473d25fd9906ae1294d145148126ce546622c.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>


 <div class="row jumbotron item1">


    <div class="col-md-6">
        <img src="https://dj7w0h47bhjwk.cloudfront.net/assets/about/about--why-we-do-what-we-do-3b7d93fe992032a5fe790758a315e452a7a39e01dc2f9886c960a100e0e8f63a.jpg" class="img-fluid" alt="Responsive image">
    </div>

    <div class="col-md-6">
        <div class="card mx-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">
                <i class="fas fa-fist-raised"></i><br>
                <p>Why We Do What We Do</p>
            </h5>
            <p class="card-text">
                
                We started modestly as one small gym in a humble basement studio in New York City’s East Village in 1989 as a welcoming place for a diverse group of people to get fit. While we believe in the power of fitness to improve lives, we also know exercise is hard work and everyone can use a little more motivation. So we’ve fused fitness and entertainment so that we can make serious exercise fun.

          </div>
        </div>
    </div>

  </div>


    <div class="row jumbotron item1">


        <div class="col-md-6">
            <div class="card text-white bg-dark mb-3 mx-auto subs" style="max-width: 21rem;">
              <div class="card-header">Clientes</div>
              <div class="card-body">
                  <h5 class="card-title"><img src="../../assets/LOGO-CR-FISTNESS-n.png" alt="#1" class="img-thumbnail"></h5>

                <p class="card-text">Step up your gym-azing experience at our Crunch Signature locations. These clubs come with all the sweat-inducing equipment available at Crunch Fitness locations, plus add a supersized menu of group fitness classes, dedicated spin and yoga studios, expanded facilities, state-of-the-art equipment and upgraded amenities.*</p>
                <br>
                <p>We offer a range of memberships starting at just ₡18,000/mes.</p>
              </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:10px">
            <div class="card text-white bg-dark mb-3 mx-auto subs" style="max-width: 21rem;">
              <div class="card-header">Estudiantes</div>
              <div class="card-body">
                  <h5 class="card-title"><img src="../../assets/LOGO-CR-FISTNESS-w.png" alt="#2" class="img-thumbnail"></h5>
                <p class="card-text">Our gyms are filled with the best strength and cardio equipment in the industry - all the essentials you need for a great workout. Our world-class personal trainers work with you to experience all the awesomeness that Crunch has to offer at an incredibly low price.</p>
                <br>
                <p>We offer a range of memberships starting at just ₡16,000/mes.</p>
              </div>
            </div>
        </div>
    </div>
</div>
