@import '../../styles.less';

.item1{
    background-color: @primary-color;
}

.item2{
    background-color: lighten(@primary-color, 10%);
}

.banner{
    background-color: @extra-color;

}

.card{
    width: 100% !important;
    height: 100%;
}

//  .subs{
//      max-width: 25rem;
//      height: 32rem;
//  }

i{
    color: @secondary-color;
    text-align:center;
    font-size: 2.5em;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid @secondary-color;
    margin: 1em 0;
    padding: 0;
}
