<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form method="post" enctype="multipart/form-data">
      {{form}}
      <button type="submit">submit</button>
    </form>

  </body>
</html>
