<h1 style="font-size: 1.5em; line-height: 2em;">Mensaje de usuario.</h1>
<p>Usted ha recibido un nuevo mensaje de usaurio:</p>

<dl>
	<dt>Nombre:</dt>
	<dd>{{ name }}</dd>

	<dt>Correo electrónico:</dt>
	<dd>{{ email }}</dd>

	<dt>Mensaje:</dt>
	<dd>{{ messaje }}</dd>
</dl>