<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <h1><i class="fas fa-user"></i></h1>
    </div>

    <!-- Login Form -->
    <form id="formulario2" class="form-inline"[formGroup]="formulario" (ngSubmit)="onSubmit()">
      <input type="email" id="login" class="fadeIn second" name="login" placeholder="Correo"class="form-control mr-sm-2" autocomplete="on" placeholder="Correo" aria-label="email" formControlName="formEmail">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña"class="form-control mr-sm-2" autocomplete="on" placeholder="Contraseña" aria-label="password"formControlName="formPwd">
    <button class="btn btn-primary fadeIn fourth my-2 my-sm-0" type="submit" [disabled]="formulario.invalid">Iniciar Sesion</button>
    </form>

  </div>
</div>
