@import '../styles.less';

section {
    background-color: darken(@secondary-color, 17%);
}

a{
    color: @primary-color;
    font-size: 1.5em;
    &:hover{
        color: darken(@primary-color,10%);
    }
}

