<app-navigation></app-navigation>


<router-outlet></router-outlet>

<!-- Footer -->
    <section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/CR-Fitness-295886824394767/"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/crfitness_oficial/"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a routerLink="/contact"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">Ⓒ Todos los derechos reservados. CRFitness</p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
