<div class="container-fluid">
 <div class="row jumbotron banner">
     <img src="../../assets/LOGO-CR-FISTNESS-w_websitBanner.png" class="img-fluid" alt="Responsive image">
 </div>
 <div class="jumbotron d-sm-block d-none d-md-block">
    <div class="row">
        <div class="col-2">
            <img src="{{image}}" alt="Foto de perfil" class="img-thumbnail rounded float-left" width="60%">
        </div>
        <div class="col-3 offset-3">
            <div class="alert alert-primary" role="alert">
                <p>{{ greet }} {{ name }}</p>
            </div>
        </div>
    </div>
    <div class="row">
			<div class="col-2">
				<button type="button" class="btn btn-info" routerLink="/perfil/" width="100%">Editar Perfil</button>
			</div>
            <div class="weekDays-selector col offset-3">
                <input type="checkbox" (change)="getRutina($event)"id="weekday-mon" class="weekday" />
                <label for="weekday-mon"><h1>L</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-tue" class="weekday" />
                <label for="weekday-tue"><h1>K</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-wed" class="weekday" />
                <label for="weekday-wed"><h1>M</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-thu" class="weekday" />
                <label for="weekday-thu"><h1>J</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-fri" class="weekday" />
                <label for="weekday-fri"><h1>V</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-sat" class="weekday2" />
                <label for="weekday-sat"><h1>S</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-sun" class="weekday2" />
                <label for="weekday-sun"><h1>D</h1></label>
            </div>
            <div class="container" *ngIf="currRutina">
                <div class="card mx-auto lightSpeedIn animated" style="width: 18rem;"*ngFor="let ejercicio of currRutina">
                  <div class="card-body">
                      <h5 class="card-title">{{ejercicio.nombre}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Repeticiones <span class="badge badge-danger">{{ejercicio.repeticiones}}</span></h6>
                    <p class="card-text">{{ejercicio.desc}}</p>
                    <div class="card-footer text-muted">
                        <div>
                            Series: <span class="badge badge-warning">{{ejercicio.series}}</span>
                        </div>
                        <div>
                            Descanso: <span class="badge badge-warning">{{ejercicio.descanso}}</span> Minutos
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
 <div class="jumbotron d-sm-none">
    <div class="row">
        <div class="col mx-auto">
            <div class="alert alert-primary" role="alert">
                Hola {{ greet }} {{ name }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto">
            <img src="{{image}}" alt="Foto de perfil" class="img-thumbnail rounded float-left" width="30%">
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto">
            <button type="button" class="btn btn-info" routerLink="/perfil/">Editar Perfil</button>
        </div>
    </div>
    <div class="row">
            <div class="weekDays-selector2 col mx-auto">
                <input type="checkbox"(change)="getRutina($event)" id="weekday-mon2" class="weekday2" />
                <label for="weekday-mon2"><h1>L</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-tue2" class="weekday2" />
                <label for="weekday-tue2"><h1>K</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-wed2" class="weekday2" />
                <label for="weekday-wed2"><h1>M</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-thu2" class="weekday2" />
                <label for="weekday-thu2"><h1>J</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-fri2" class="weekday2" />
                <label for="weekday-fri2"><h1>V</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-sat2" class="weekday2" />
                <label for="weekday-sat2"><h1>S</h1></label>
                <input type="checkbox" (change)="getRutina($event)" id="weekday-sun2" class="weekday2" />
                <label for="weekday-sun2"><h1>D</h1></label>
            </div>
            <div class="container" *ngIf="currRutina">
                <div class="card mx-auto lightSpeedIn animated" style="width: 18rem;" *ngFor="let ejercicio of currRutina">
                  <div class="card-body">
                      <h5 class="card-title">{{ejercicio.nombre}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Repeticiones <span class="badge badge-danger">{{ejercicio.repeticiones}}</span></h6>
                    <p class="card-text">{{ejercicio.desc}}</p>
                    <div class="card-footer text-muted">
                        <div>
                            Series: <span class="badge badge-warning">{{ejercicio.series}}</span>
                        </div>
                        <div>
                            Descanso: <span class="badge badge-warning">{{ejercicio.descanso}}</span> Minutos
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron d-none">
        <app-foros></app-foros>
    </div>
</div>
