
@import '../../styles.less';
.banner{
    background-color: @extra-color;
}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 50px;
  width: 40px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

.banner2{
    background-color: @extra-color;
}

.weekDays-selector2 input {
  display: none!important;
}

.weekDays-selector2 input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 50px;
  width: 40px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector2 input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}


