<div class="container">
	<h2 class="text-center">Comentarios Públicos</h2>
    <div class="mx-auto text-center">
        <a class="btn text-white btn-primary" (click)="clickEvent()"> <i class="fa fa-comment" aria-hidden="true"></i> Agregar comentario</a>
    </div>
    <div [ngClass]="status ? 'd-none' : ''" id="add-comment">
        <form (ngSubmit)="addComment()" method="post" class="form-horizontal" id="commentForm" role="form"> 
            <div class="form-group">
                <div class="container">
                    <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                        <input type="radio" value="5" (change)="setStars($event)" id="star5" name="rating"/><label for="star5" title="5 star">5</label>
                        <input type="radio" value="4" (change)="setStars($event)" id="star4" name="rating"/><label for="star4" title="4 star">4</label>
                        <input type="radio" value="3" (change)="setStars($event)" id="star3" name="rating"/><label for="star3" title="3 star">3</label>
                        <input type="radio" value="2" (change)="setStars($event)" id="star2" name="rating"/><label for="star2" title="2 star">2</label>
                        <input type="radio" value="1" (change)="setStars($event)" id="star1" name="rating"/><label for="star1" title="1 star">1</label>
                    </div>
              </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Comentario</label>
                <div class="col-sm-10">
                  <textarea [(ngModel)]="msg"class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">                    
                    <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><i class="fa fa-paper-plane" aria-hidden="true"></i> Listo</button>
                </div>
            </div>            
        </form>
    </div>

	<div class="card">
	    <div class="card-body">
	        <div class="row">
        	    <div class="col-md-2">
        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        	        <p class="text-secondary text-center">15 Minutes Ago</p>
        	    </div>
        	    <div class="col-md-10">
        	        <p>
        	            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>

        	       </p>
        	       <div class="clearfix"></div>
        	        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        	        <p>
        	            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
        	            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
        	       </p>
        	    </div>
	        </div>
	    </div>
	</div>
</div>
