<nav id="nav" class="navbar navbar-dark bg-dark justify-content-end" *ngIf="!cliente">

    <div class="d-none d-lg-block">
      <form id="formulario" class="form-inline"[formGroup]="formulario" (ngSubmit)="onSubmit()">
          <input class="form-control mr-sm-2" autocomplete="on" type="EMAIL" placeholder="Correo" aria-label="email" formControlName="formEmail">
          <input class="form-control mr-sm-2" autocomplete="on" type="PASSWORD" placeholder="Contraseña" aria-label="password"formControlName="formPwd">
        <button class="btn btn-primary my-2 my-sm-0" type="submit" [disabled]="formulario.invalid">Iniciar Sesion</button>
      </form>
    </div>

      <div id="user" class="d-lg-none">
        <a (click)="rutina_or_login()"><i class="fas fa-user fa-7x"></i></a>
      </div>

</nav>
<nav id="nav" class="navbar navbar-dark bg-dark justify-content-end" *ngIf="cliente">

  <div class="d-none d-lg-block">
    <form class="form-inline">
      <div id="user" class="d-lg-block">
        <a routerLink="rutina" style="text-decoration:none"><i class="fas fa-lg fa-user fa-7x"></i></a>
      </div>
    </form>
  </div>

  <div id="user" class="d-lg-none">
    <a routerLink="rutina"><i class="fas fa-user fa-7x"></i></a>
  </div>
</nav>


<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </a>

  <div class="dropdown-menu zoomIn animated" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" routerLink="/"><i class="fas fa-home"></i> Inicio</a>
    <a class="dropdown-item" routerLink="/contact"><i class="fas fa-envelope-square"></i> Contáctanos</a>
    <a class="dropdown-item" routerLink="/xsobre"><i class="fas fa-info"></i> Sobre nosotros</a>
    <a class="dropdown-item" (click)="logout()" *ngIf="cliente" style="cursor: pointer"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
  </div>
</div>
