//  @import (css) url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
//  @import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC | Londrina+Outline);

@import "../../styles.less";


#user {
    font-size: 2em;
    i{
        color: @primary-color;
    }
    i:hover{
        cursor: pointer;
    }
}


img {
    position: absolute;
    top:10%;
    right: 2%;
    width: 5%;
    margin-right: 5px;
}

.btn-primary{
    background: @primary-color;
    border: darken(@primary-color, 10%);
    &:hover{
        color: @extra-color;
    }
    &:after{
        color: darken(@extra-color, 10%);
    }
    &:disabled{
        color: #666;
    }
}


* {
    //  font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: @font-color;
    font-size: 100%;
    line-height: 1.5;
}
@media (min-width: 1000px) { 
    .fa-bars {
        color:white;
        font-size: 150%;
    }
}
@media (max-width: 1000px) { 
    .fa-bars {
        color:white;
        font-size: 200%;
    }
}
.dropdown-toggle:after { content: none }
.dropdown{
    position: fixed;
    top:0;
    left:0;
    z-index:10;
}
body {
    background: @secondary-color;
    margin: 0;
}

