<div class="bg-dark text-white py-5">
     <div class="container py-5">
          <div class="row">
               <div class="col-md-2 text-center">
                    <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Codigo HTTP: 403</p>
               </div>
               <div class="col-md-10">
                    <h3>UUUPSS!!!! Disculpa...</h3>
                    <p>Disculpa, tu acceso a esta página esta restringida debido a razones de seguridad.<br/>Por favor, ve a la página anterior o ve la la página del inicio.</p>
                    <a class="btn btn-danger" href="javascript:history.back()">Devolverse</a>
               </div>
          </div>
     </div>
 </div>
