/* You can add global styles to this file, and also import other style files */
@import "animate.css";

@primary-color: #e2fcef;
@secondary-color: #9b287b;
@background-color: #5c164e;
@font-color: #402039;
@extra-color: #170f11;

body {
    background-color: @background-color;
}

html, body {
  height: 100%;
}
