@import '../../styles.less';
.image{
    text-align: center;
    width: 100%;
    background: white;
    img{
        width: 40%;
        height: 40%;
    }
}

#carouselExampleSlidesOnly{
    //  margin-left:25%;
    z-index:-1;
}

.card-body {
    height: 250px;
}

.card-subtitle, h1, .card-text {
    text-align:center;
}

