<!--<div class="image">
    <img src="../../assets/logo.jpeg" height="50%" width="50%" class="img-fluid" alt="Responsive image">
</div>-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/carousel1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/carousel2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/carousel3.jpg" alt="Third slide">
    </div>
  </div>
</div>

<div class="container-fluid jumbotron justify-center">
    <h1>¿Que ofrecemos?</h1>

    <div class="container">
        <div class="row mx-auto">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card mx-auto lax" style="width: 18rem;" data-lax-preset="fadeInOut speedy-15" data-lax-anchor="self">
                  <div class="card-body">
                    <h1 class="card-title"><i class="fas fa-dumbbell"></i></h1>
                    <h5 class="card-subtitle mb-2 text-muted">Rutinas físicas o virtuales</h5>
                    <p class="card-text">¡Ahora puedes utilizar una rutina virtual!</p>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card mx-auto lax" style="width: 18rem;"data-lax-preset="fadeInOut speedy-15">
                  <div class="card-body">
                    <h1 class="card-title"><i class="fas fa-heart"></i></h1>
                    <h5 class="card-subtitle mb-2 text-muted">Inclusión</h5>
                    <p class="card-text">Aquí mantenemos las mentes abiertas. No hay un solo tipo o forma en nuestra comunidad diversa.</p>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card mx-auto lax" style="width: 18rem;"data-lax-preset="fadeInOut speedy-15">
                  <div class="card-body">
                    <h1 class="card-title"><i class="fas fa-running"></i></h1>
                    <h5 class="card-subtitle mb-2 text-muted">Maquinaria profesional</h5>
                    <p class="card-text">Cinta de correr, Tunturi, Remo de Aire</p>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card mx-auto lax" style="width: 18rem;"data-lax-preset="fadeInOut speedy-15">
                  <div class="card-body">
                    <h1 class="card-title"><i class="fas fa-building"></i></h1>
                    <h5 class="card-subtitle mb-2 text-muted">Clases de todo tipo</h5>
                    <p class="card-text">Yoga, Cardio, Taekwondo y muchos más.</p>
                  </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
