<div class="container jumbotron">
<section class="">
    <div class="container">
        <div class="row">
          <div class="col-3">
            <h1 class="title">Contáctanos</h1>
          </div>
          <div class="offset-6 col-3 d-none d-md-block">
            <div class="text-right">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Selecciona un funcionario
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" *ngFor="let admin of admins" (click)="selectAdmin(admin['email'], admin['name'])">
                      <img style="display: inline;width: 50px;height: 50px" src="{{admin['photo']}}" class="img-responsive img-thumbnail" alt="Foto Perfil">
                      <i style="display: inline" data-toggle="tooltip" data-placement="left" title="{{admin['email']}}">  {{admin['name']}}</i>
                    </button>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
<section class="section">
<div class="container">

<form (ngSubmit)="processForm()">
  <div class="form-group d-lg-none">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Selecciona un funcionario
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" *ngFor="let admin of admins" (click)="selectAdmin(admin['email'], admin['name'])">
            <img style="display: inline;width: 50px;height: 50px" src="{{admin['photo']}}" class="img-responsive img-thumbnail" alt="Foto Perfil">
            <i style="display: inline" data-toggle="tooltip" data-placement="left" title="{{admin['email']}}">  {{admin['name']}}</i>
          </button>
        </div>
      </div>
  </div>
  <div class="form-group">
      <label for="InputNombre">Nombre</label>
      <input type="text" required minlength="2" name="nombre" class="form-control" id="InputNombre" placeholder="Tu nombre" [(ngModel)]="nombre"(ngModelChange)="onChangeNombre($event)">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Correo Electrónico</label>
    <input type="email" required name="correo"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo" [(ngModel)]="correo" (ngModelChange)="onChangeCorreo($event)">
    <small id="emailHelp" class="form-text text-muted">Nunca compartimos tu correo con nadie por tu seguridad.</small>
  </div>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Mensaje</label>
    <textarea required class="form-control" name="mensaje"id="exampleFormControlTextarea1" rows="3" [(ngModel)]="mensaje"(ngModelChange)="onChangeMensaje($event)"></textarea>
  </div>

<!--Errors-->
<div id="error" class="alert alert-danger d-none">

</div>
<!--Errors-->

<div class="btn-group" role="group" aria-label="Basic example">
      <button type="submit" class="btn btn-success">Enviar</button>
      <button type="reset" class="btn btn-primary">Resetear</button>
  </div>
</form>

</div>
</section>
</div>

<script>
  $('.dropdown-radio').find('input').change(function() {
  var dropdown = $(this).closest('.dropdown');
  var radioname = $(this).attr('name');
  var checked = 'input[name=' + radioname + ']:checked';

  //update the text
  var checkedtext = $(checked).closest('.dropdown-radio').text();
  dropdown.find('button').text( checkedtext );

  //retrieve the checked value, if needed in page
  var thisvalue = dropdown.find( checked ).val();
  alert ( thisvalue  );
});
</script>
