{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}

<h2>{% trans 'Ups' %}</h2>

<p>{% trans "Ha ocurrido un error, verifique el documento e intente de nuevo." %}</p>

<p>{{errors}}</p>


<form>
    <input type="button" onclick="window.location.href = '/admin';" value="Volver"/>
</form>

{% endblock %}
