{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}

<h2>{% trans 'Completado' %}</h2>

<p>{% trans "Base de clientes actualizada." %}</p>

<form>
    <input type="button" onclick="window.location.href = '/admin';" value="Volver"/>
</form>

{% endblock %}
