<!doctype html>
<html lang="es">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="language" content="spanish">
    <meta name="distribution" content="web">
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimal-ui, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Creating a web app on the home screen -->
    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="/assets/logo_w1d_2.ico">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="/assets/logo_w1d_2.ico">
	<!-- App name -->
    <meta name="apple-mobile-web-app-title" content="CRFitness">
	<meta name="application-name" content="CRFitness">
    <meta name="description" content="¡CRFitness inclusión ante todo! Gimnasio de alta calidad de Alajuela."/>
    <meta name="keywords" content="Costa Rica, Gym, CRFitness, fitness, Alajuela, gimnasio"/>
    <meta name="author" content="Joseph David Zamora Murillo, Alejandro Zumbado Vargas, Jose Mario Quesada Villalobos" />
    <meta name="web_author" content="Joseph David Zamora Murillo, Alejandro Zumbado Vargas, Jose Mario Quesada Villalobos">

    <meta name="copyright" content="Copyright owner" />
    <meta http-equiv="expires" content="43200"/>


    <title>CRFitness</title>
    <base href="/">

    <link rel="shortcut icon" type="image/png" href="/assets/logo_w1d_2.ico"/>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% csrf_token %}
{% load staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'angular/styles.232c6ce463af77c94b86.css' %}"></head>
<body>

    <app-root></app-root>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
    <script>
        window.onload = function() {
            window.scrollTo(0, 0);
            lax.setup() // init

            const updateLax = () => {
                lax.update(window.scrollY)
                window.requestAnimationFrame(updateLax)
            }

            window.requestAnimationFrame(updateLax)

            var elem = document.documentElement;

            /* View in fullscreen */
            function openFullscreen() {
              if (elem.requestFullscreen) {
                elem.requestFullscreen();
              } else if (elem.mozRequestFullScreen) { /* Firefox */
                elem.mozRequestFullScreen();
              } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                elem.webkitRequestFullscreen();
              } else if (elem.msRequestFullscreen) { /* IE/Edge */
                elem.msRequestFullscreen();
              }
            }
        }
    </script>

<script type="text/javascript" src="{% static 'angular/runtime.06daa30a2963fa413676.js' %}"></script><script type="text/javascript" src="{% static 'angular/polyfills.9d2cdfa1f0de090233d7.js' %}"></script><script type="text/javascript" src="{% static 'angular/main.c069ef18d7ca13ea243b.js' %}"></script></body>

<script defer>
  function loadChatWidget() {
	chatteron.init({
	clientID: "pCsUCyhZ0_VoD4dkSjgeZ",
  });
}
</script>
<script defer src="https://web.chatteron.io/scripts/sdk.js" onload="loadChatWidget();">
</script>

</html>
