<div *ngIf="this.cliente">
    <div class="container jumbotron" style="padding-top:10px;">
        <h1>Editar Perfil</h1>
        <hr>
        <div class="row">
          <!-- left column -->
          <div class="col-md-3">
            <div class="text-center">
                <img src="{{cliente.foto}}" class="avatar img-circle" width="60%" alt="avatar">
			<form class="form-horizontal" role="form">
              	<div id="fotocont" class="file btn btn-lg btn-primary">
							Subir foto
							<!--<input id="foto" type="file" name="file"/>-->
				</div>
			</form>
            </div>
          </div>
          
          <!-- edit form column -->
          <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a> 
              <i class="fa fa-coffee"></i>
                Bienvenido {{ cliente.nombre|formateonombre }}.
            </div>
            <h3>Información personal</h3>
            
            <form class="form-horizontal" role="form"  (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="nombre" class="col-lg-3 control-label">Nombre:</label>
                <div class="col-lg-8">
                    <input class="form-control" required type="text"[(ngModel)]="nombre" value="{{cliente.nombre}}" name="nombre" (ngModelChange)="onChangeNombre($event)">
                </div>
              </div>
              <div class="form-group">
                <label for="correo"class="col-lg-3 control-label">Correo:</label>
                <div class="col-lg-8">
                    <input class="form-control" name="correo" required type="email"(ngModelChange)="onChangeCorreo($event)" value="{{cliente.correo}}">
                </div>
              </div>
              <div class="form-group">
                <label for="numero"class="col-lg-3 control-label">Número teléfono:</label>
                <div class="col-lg-8">
                    <input class="form-control"  name="numero" required type="number" pattern="[0-9]*" [(ngModel)]="numero" value="{{cliente.numero}}">
                </div>
              </div>
              <div class="form-group">
                <label for="ubicacion" class="col-lg-3 control-label">Ubicación:</label>
                <div class="col-lg-8">
                    <input class="form-control" name="ubicacion" required type="text"[(ngModel)]="ubicacion" value="{{cliente.ubicacion}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="submit" class="btn btn-success" disable >Enviar</button>
                          <button type="reset" class="btn btn-primary" disable >Resetear</button>
                    </div>
                </div>
              </div>
            </form>
            <hr>
            <h3>Cambiar mi contraseña</h3>
            <form class="form-horizontal" role="form"  (ngSubmit)="password_reset()">
              <div class="form-group">
                <label for="current_password" class="col-lg-3 control-label">Contraseña actual:</label>
                <div class="col-lg-8">
                  <input class="form-control" name="current_password" required type="password"[(ngModel)]="current_password" (ngModelChange)="onChangeContra($event)">
                </div>
              </div>
              <div class="form-group">
                <label for="new_password" class="col-lg-3 control-label">Contraseña nueva:</label>
                <div class="col-lg-8">
                  <input class="form-control" name="new_password" required type="password"[(ngModel)]="new_password" id="new_password" (ngModelChange)="onChangeNuevaContra($event)">
                </div>
              </div>
              <div class="form-group">
                <label for="new_password_confirm" class="col-lg-3 control-label">Confirmar contraseña nueva:</label>
                <div class="col-lg-8">
                  <input class="form-control" name="new_password_confirm" required type="password"[(ngModel)]="new_password_confirm" (ngModelChange)="onChangeContraConfirm($event)">
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
              </div>
            </form>
          </div>
      </div>
    </div>
</div>
<div *ngIf="!this.cliente">
    <div class="text-center">
      <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>
</div>
